<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-detalle-de-presupuesto-heading">Create or edit a Detalle De Presupuesto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                           formControlName="cantidad"/>
                    <div *ngIf="editForm.get('cantidad').invalid && (editForm.get('cantidad').dirty || editForm.get('cantidad').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cantidad').errors.required">
                        Este campo es requerido.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('cantidad')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_valorPorUnidad">Valor Por Unidad</label>
                    <input type="text" class="form-control" name="valorPorUnidad" id="field_valorPorUnidad"
                           formControlName="valorPorUnidad"/>
                    <div *ngIf="editForm.get('valorPorUnidad').invalid && (editForm.get('valorPorUnidad').dirty || editForm.get('valorPorUnidad').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valorPorUnidad').errors.required">
                        Este campo es requerido.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_presupuesto">Presupuesto</label>
                    <select class="form-control" id="field_presupuesto" name="presupuesto" formControlName="presupuesto">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="presupuestoOption.id === editForm.get('presupuesto').value?.id ? editForm.get('presupuesto').value : presupuestoOption" *ngFor="let presupuestoOption of presupuestos; trackBy: trackPresupuestoById">{{presupuestoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unidad">Unidad</label>
                    <select class="form-control" id="field_unidad" name="unidad" formControlName="unidad">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dominioOption.id === editForm.get('unidad').value?.id ? editForm.get('unidad').value : dominioOption" *ngFor="let dominioOption of unidads; trackBy: trackDominioById">{{dominioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
