<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="persona">
            <h2><span>Persona</span> {{persona.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cuil</span></dt>
                <dd>
                    <span>{{persona.cuil}}</span>
                </dd>
                <dt><span>Direccion</span></dt>
                <dd>
                    <span>{{persona.direccion}}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{persona.nombre}}</span>
                </dd>
                <dt><span>Telefono</span></dt>
                <dd>
                    <span>{{persona.telefono}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{persona.user?.id}}
                </dd>
                <dt><span>Localidad</span></dt>
                <dd>
                    <div *ngIf="persona.localidad">
                        <a [routerLink]="['/dominio', persona.localidad?.id, 'view']">{{persona.localidad?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/persona', persona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
