<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-rol-empleado-heading">Create or edit a Rol Empleado</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_empleado">Empleado</label>
                    <select class="form-control" id="field_empleado" name="empleado" formControlName="empleado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empleadoOption.id === editForm.get('empleado').value?.id ? editForm.get('empleado').value : empleadoOption" *ngFor="let empleadoOption of empleados; trackBy: trackEmpleadoById">{{empleadoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rol">Rol</label>
                    <select class="form-control" id="field_rol" name="rol" formControlName="rol">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dominioOption.id === editForm.get('rol').value?.id ? editForm.get('rol').value : dominioOption" *ngFor="let dominioOption of rols; trackBy: trackDominioById">{{dominioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
