<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-proyecto-heading">Create or edit a Proyecto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nroDeProyecto">Nro De Proyecto</label>
                    <input type="number" class="form-control" name="nroDeProyecto" id="field_nroDeProyecto"
                           formControlName="nroDeProyecto"/>
                    <div *ngIf="editForm.get('nroDeProyecto').invalid && (editForm.get('nroDeProyecto').dirty || editForm.get('nroDeProyecto').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nroDeProyecto').errors.required">
                        Este campo es requerido.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nroDeProyecto')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                    <div *ngIf="editForm.get('descripcion').invalid && (editForm.get('descripcion').dirty || editForm.get('descripcion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion').errors.required">
                        Este campo es requerido.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                    <div *ngIf="editForm.get('direccion').invalid && (editForm.get('direccion').dirty || editForm.get('direccion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccion').errors.required">
                        Este campo es requerido.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaDeInicio">Fecha De Inicio</label>
                    <div class="d-flex">
                        <input id="field_fechaDeInicio" type="datetime-local" class="form-control" name="fechaDeInicio" formControlName="fechaDeInicio" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaDeFinalizacion">Fecha De Finalizacion</label>
                    <div class="d-flex">
                        <input id="field_fechaDeFinalizacion" type="datetime-local" class="form-control" name="fechaDeFinalizacion" formControlName="fechaDeFinalizacion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaDeCreacion">Fecha De Creacion</label>
                    <div class="d-flex">
                        <input id="field_fechaDeCreacion" type="datetime-local" class="form-control" name="fechaDeCreacion" formControlName="fechaDeCreacion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fechaDeCreacion').invalid && (editForm.get('fechaDeCreacion').dirty || editForm.get('fechaDeCreacion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaDeCreacion').errors.required">
                        Este campo es requerido.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fechaDeCreacion').errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="cliente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === editForm.get('cliente').value?.id ? editForm.get('cliente').value : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" formControlName="estado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dominioOption.id === editForm.get('estado').value?.id ? editForm.get('estado').value : dominioOption" *ngFor="let dominioOption of dominios; trackBy: trackDominioById">{{dominioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
